.card-container {
    width:100vw;
    height:90vh;
    /* height:60vh; */
    column-count: 3;
    overflow-x:hidden;
    column-width: 33%;
    position: relative;
    padding:0 12px;
    z-index:0;
    top:8vh;
  }
  
  /* .card {
    display: inline-block;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(240, 240, 240);
    background-color: #028d93;
    box-shadow: 0 5px 15px 5px #028d93;
    transition: transform 0.2s ease-out;
    animation: moveUp 8s linear infinite;
  } */
  
/* 
  .card {
    width: 24rem;
    height: 36rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(240,240,240);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-out;
    animation: moveUp 8s linear infinite;}
   
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
      transition: opacity .2s ease-out;
    } */

    .card {
        display: inline-block;
        width: 100%;
        z-index:0;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 0.004px;
        cursor: pointer;
        position: relative;
        color: rgb(240, 240, 240);
        box-shadow: 0 5px 15px 5px #028d93;
        transition: transform 0.2s ease-out;
        animation: moveUp 2s linear infinite;
      }
      
       img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index:0;
        transition: opacity 0.1s ease-out, transform 0.3s ease-out;
      }

  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100vh);
    }
  }
  